* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

header {
    padding: 20px 0;
    background-color: dodgerblue;
    border-bottom: 4px solid navy;
}

#heading {
    color: white;
    font-family: sans-serif;
    font-size: calc(24px + (56 - 24) * ((100vw - 300px) / (1600 - 300)));
}

#gameStatus {
    color: white;
}

.form-label {
    color: white;
    font-family: sans-serif;
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.game-board {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    /* border: 2px solid navy; */
}

.cell {
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 60px;
    background-color: #fff;
    box-shadow: 0 0 0 1px navy;
    cursor: pointer;
    line-height: 100px;
}

.cell:hover {
    background-color: rgb(231, 236, 240);
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.wins {
    text-decoration: underline;
}

.win-count {
    width: 180px;
    height: 180px;
    background-color: white;
    border: 2px solid navy;
    text-align: left;
}
